#Galeria {
    width: 85%;
    margin-left: 12%;  
    
    margin-bottom: 5%;
}

#Galeria .Galeria-Imagens {
    display: -ms-flexbox;
    -ms-flexbox-wrap:wrap;
    -ms-flex-direction: column;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;

    display: -webkit-box;
    display: flex;

    animation: GaleriaFotos 2s ease;
}

@keyframes GaleriaFotos {
    0% {
        opacity:0;
    }

    50% {
        opacity:1;
    }
}

#Galeria .Galeria-Imagens .Galeria-Imagens-item{
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto;

    width: 20%;
    max-width: 30%;
    margin: 3vh 2.5vw;
    
    vertical-align: center;
    filter: grayscale(90%);
    transition: all 0.3s;
}

#Galeria .Galeria-Imagens .Galeria-Imagens-item:hover {
    filter: grayscale(0%);
}

#Galeria .Galeria-Imagens .Galeria-Imagens-item img {
    width: 100%;
    box-shadow:0px 2px 5px black;
    
    height: auto;
}

@media only screen and (max-width: 600px) {

    #Galeria .Galeria-Imagens {
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.3);
    }

    #Galeria .Galeria-Imagens .Galeria-Imagens-item {
        filter: grayscale(0%);
        width: 80%;
        max-width: 100%;
    }

}